In [69]:
import mysql.connector as connector

In [70]:
connection = connector.connect(user = "imoru", password = "@96",db = "little_lemondb")

In [71]:
cursor = connection.cursor()

In [72]:
show_query_tables ="SHOW TABLES"
cursor.execute(show_query_tables)

In [73]:
for tables in cursor:
    print(tables)

('booking',)
('customer',)
('delivery',)
('menuitem',)
('menus',)
('orders',)
('ordersview',)
('staff',)

In [74]:
cursor.execute("show databases")
for databases in cursor:
    print(databases)

('information_schema',)
('little_lemondb',)
('mysql',)
('performance_schema',)
('sys',)

In [75]:
print('Customer Table')
customer_query = """select * from customer"""
cursor.execute(customer_query)
results = cursor.fetchall()
print(results)

Customer Table
[(1, 'Vanessa McCarthy', 757536378, 'vm@mangatagallo.com'), (2, 'Marcos Romero', 757536379, 'mr@mangatagallo.com'), (3, 'Hiroki Yamane', 757536376, 'hy@mangatagallo.com'), (4, 'Anna Iversen', 757536375, 'ai@mangatagallo.com'), (5, 'Diana Pinto', 757536374, 'dp@mangatagallo.com')]

In [76]:
print('Order Table')
order_query = """select * from Orders"""
cursor.execute(order_query)
results = cursor.fetchall()
print(results)

Order Table
[(1, datetime.date(2022, 10, 15), 1, 1, 9, Decimal('2500.00')), (2, datetime.date(2022, 10, 16), 2, 2, 2, Decimal('800.00')), (3, datetime.date(2022, 10, 17), 3, 5, 1, Decimal('800.00')), (4, datetime.date(2022, 10, 17), 4, 3, 3, Decimal('1050.00')), (5, datetime.date(2022, 10, 18), 5, 4, 1, Decimal('1250.00'))]

In [77]:
print('Customer Columns')
customer_column_query = """Show columns from Customer"""
cursor.execute(customer_column_query)
results = cursor.fetchall()
print(results)

Customer Columns
[('CustomerID', b'int', 'NO', 'PRI', None, ''), ('FullName', b'varchar(255)', 'NO', '', None, ''), ('PhoneNumber', b'int', 'NO', '', None, ''), ('Email', b'varchar(255)', 'NO', '', None, '')]

In [78]:
print('Order Columns')
order_column_query = """Show columns from Orders"""
cursor.execute(order_column_query)
results = cursor.fetchall()
print(results)

Order Columns
[('OrderID', b'int', 'NO', 'PRI', None, ''), ('OrderDate', b'date', 'NO', '', None, ''), ('CustomerID', b'int', 'NO', 'MUL', None, ''), ('MenuID', b'int', 'NO', 'MUL', None, ''), ('Quantity', b'int', 'NO', '', None, ''), ('TotalCost', b'decimal(10,2)', 'NO', '', None, '')]

In [89]:
print('Customer oder join ')
join_column_query = """Select FullName,PhoneNumber,Email,TotalCost 
from customer INNER JOIN Orders ON customer.customerID = orders.OrderID """
cursor.execute(join_column_query)
results = cursor.fetchall()
print(results)

Customer oder join
[('Vanessa McCarthy', 757536378, 'vm@mangatagallo.com', Decimal('2500.00')), ('Marcos Romero', 757536379, 'mr@mangatagallo.com', Decimal('800.00')), ('Hiroki Yamane', 757536376, 'hy@mangatagallo.com', Decimal('800.00')), ('Anna Iversen', 757536375, 'ai@mangatagallo.com', Decimal('1050.00')), ('Diana Pinto', 757536374, 'dp@mangatagallo.com', Decimal('1250.00'))]

In [90]:
print('Filter Clause')
join_column_query = """Select FullName,TotalCost 
from customer INNER JOIN Orders  ON customer.customerID = orders.OrderID where TotalCost > 1000 """
cursor.execute(join_column_query)
results = cursor.fetchall()
print(results)

Filter Clause
[('Vanessa McCarthy', Decimal('2500.00')), ('Anna Iversen', Decimal('1050.00')), ('Diana Pinto', Decimal('1250.00'))]

In [91]:
if connection.is_connected():

    connection.close()
    print('Connection is closed')
else:
    print('Connection already closed.')

Connection is closed